POSTGRES_USER=phonemail
POSTGRES_PASSWORD=phonemail
POSTGRES_DB=phonemail

INBOUND_SECRET=change-me

SMTP_HOST_PORT=2525

SMTP_HOST=
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
MAIL_FROM='"Phone Mailer" <no-reply@example.com>'
EMAIL_API_KEY=change-me-too

MAIL_DOMAIN=phonemail.com
JWT_SECRET=change-me-to-a-long-random-string
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_VERIFY_SERVICE_SID=
TWILIO_WEBHOOK_BASE_URL=
TWILIO_MESSAGING_SERVICE_SID=
TWILIO_FROM_NUMBER=
ANDROID_SMS_APP_HASH=
